html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* 隐藏水平滚动条 */
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .logo {
    max-width: 15vw;
    height: auto;
    margin-left: 5vw;
    margin-top: 1vw;
  }

  #connect-wallet {
      margin-left: 2vw;
      margin-top: -0.8vw;
      padding: 1vw 1vw 2vw 1vw;
      background-color: black;
      color: #ffffff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
  }
  
  #disconnect-wallet {
    color: white;
    margin-left: 2px;
    background-color: transparent;
    border: none;
    outline: none;
  }
  
  #connect-wallet:hover {
      background-color: white;
      color: black;
      font-weight: bold;
  }
   
  #disconnect-wallet:hover {
    color: red;
}

  #wallet-address {
      margin-left: 1vw;
      color: white;
  }
  
  .nav {
    display: flex;
    height: 1vw;
    justify-content: flex-end;
    flex-grow: 1;
    margin-right: 3vw;
    letter-spacing: 2px;
    margin-top: 1.7vw;
    transition: text-shadow 0.3s ease; 
  }
  
  .nav a {
    margin-right: 2vw;
    height: 1vw;
    color: white;
    text-decoration: none;
    font-size: 1vw;
    border-bottom: 2px; /* 添加边框属性 */
    font-weight: bold;
  }

  .nav a:last-child {
    margin-right: 0;
}

  .nav a:hover {
    text-shadow: 0 0 4px white;
  }
  
  .banner {
    background-image: url('/images/back1.png');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .slogan {
    font-size: 3vw;
    text-align: center;
    margin-top: 100px;
    color: aliceblue;
    white-space: nowrap;
  }
  
  .logo2 {
    max-width: 40vw;
    height: auto;
    margin-left: 20px;
    margin-top: 100px;
  }
  
  .para {
    font-size: 2vw;
    text-align: center;
    margin-top: 100px;
    margin-right: -700px;
    color: aliceblue;
    font-weight: bold;
    white-space: nowrap;
  }
  
  .second-screen {
    background-image: url('/images/back2.jpeg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .second-screen-content {
    font-size: 2vw;
    text-align: center;
    margin-top: 220px;
    margin-left: 720px;
    color: aliceblue;
    white-space: nowrap;
  }  

  .footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer .year {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 1vw;
  }
  
  .footer .logo3 {
    max-width: 10vw;
    height: auto;
    margin: 0 auto;
  }
  
  .footer .contact {
    margin-right: 25px;
    font-weight: bold;
    font-size: 1vw;
  }
